* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

.page_wrapper {
  margin: 0 auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button,
input {
  outline: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

* {
  font-family: "Montserrat", sans-serif;
  color: #2C4058;
}

.page_wrapper {
  font-size: 18px;
}

.head_nav {
  color: #ffffff;
  font-family: "Source Sans 3", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.head_nav_item {
  color: #ffffff;
  font-family: "Source Sans 3", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.hero_motto {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.hero_sub {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5.4px;
  text-transform: uppercase;
}

.weDoHeading {
  color: #2C4058;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.weDoSubTitle {
  color: #2C4058;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.weDoTextTitle {
  color: #2C4058;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.latestNewsHeading {
  color: #2C4058;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: #ffffff;
}

.news_card_title {
  color: #2C4058;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  font-weight: 700;
}

.news_card_text_content {
  color: #2C4058;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.news_card_author {
  color: #2C4058;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.news_card_date {
  color: #55B7FF;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.galleryHeading {
  color: #2C4058;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.policy {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.formHeading {
  color: #2C4058;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.get_in_touch_form {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.markerText {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.form_contacts {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.toAuth button {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.btn {
  padding: 16px 41px 17px 41px;
  border: 1px solid #2C4058;
}

.header {
  margin-bottom: 137px;
  width: 100%;
  padding-top: 53px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo_wrappper {
  width: 241px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head_nav {
  list-style: circle;
  display: flex;
  gap: 70px;
  justify-content: space-evenly;
  align-items: center;
}

.head_nav_item {
  padding-left: 14px;
  list-style: url(../assets/icons/listStyleNonAct.svg);
}
.head_nav_item:active, .head_nav_item :focus {
  list-style: url(../assets/icons/listStyleHead.svg);
}

.head_socials {
  display: flex;
  gap: 20px;
}

.head_social_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.heroSreen {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../assets/images/hero_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 80px;
}
.heroSreen .container {
  width: 100%;
  max-width: 100%;
}

.motto_wrapp {
  position: absolute;
  top: 40%;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 20px;
  height: 20px;
}

.swiper-pagination-bullet {
  right: 5%;
  width: 20px;
  height: 20px;
  background-color: red;
  z-index: 111111;
}

.moto_card {
  max-height: 200px;
}

.hero_motto {
  margin-bottom: 23px;
}

.heroToScrollDown {
  position: absolute;
  bottom: 3.3%;
  left: 49.3%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #ffffff;
  justify-self: center;
  align-self: center;
}

.whatWeDO {
  margin-bottom: 150px;
}
.whatWeDO .container {
  position: relative;
}
.whatWeDO .container::before {
  content: " ";
  position: absolute;
  top: -30px;
  left: 47%;
  height: 2px;
  width: 100px;
  background-color: #2C4058;
}

.weDoHeading {
  margin-bottom: 90px;
}

.WeDoProjectCard.project1 {
  display: flex;
  position: relative;
  max-height: 527;
}

.weDoImageWrapp.project1 {
  flex-basis: 50%;
  margin-bottom: 294px;
  position: relative;
  min-width: 630px;
  height: 527px;
  background-color: #55B7FF;
}
.weDoImageWrapp.project1 img {
  position: absolute;
  top: 8.2%;
  left: 27%;
  max-width: 90%;
  min-height: 470px;
  max-height: 115%;
}

.weDoTextCard.project1 {
  position: absolute;
  right: 15.5%;
  top: 28.6%;
  width: 100%;
  max-width: 473px;
  margin-left: 70px;
}

.weDoTextWrapp.project1 {
  position: absolute;
  left: 29.3%;
  top: 41.7%;
}

.WeDoProjectCard.project2 {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  max-height: 527px;
}

.weDoTextCard.project2 {
  position: absolute;
  left: 15.5%;
  top: 28.6%;
  width: 100%;
  max-width: 473px;
  margin-right: 70px;
}

.weDoTextWrapp.project2 {
  position: absolute;
  right: 29.3%;
  top: 41.7%;
}

.weDoImageWrapp.project2 {
  flex-basis: 50%;
  margin-bottom: 294px;
  position: relative;
  min-width: 630px;
  height: 527px;
  background-color: #7E5AFF;
}
.weDoImageWrapp.project2 img {
  position: absolute;
  top: 8.2%;
  right: 27%;
  max-width: 90%;
  min-height: 470px;
  max-height: 115%;
}

.weDoTextTitle {
  margin-bottom: 19px;
  text-align: start;
}

.weDoTextContent {
  width: 489px;
  height: 81px;
  margin-bottom: 40px;
}

.more_details_btn {
  margin-bottom: 60px;
}

.latestNews {
  width: 100%;
  min-height: 978px;
  background-image: url(../assets/images/news_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.latestNews .container {
  max-width: 1600px;
  position: relative;
}
.latestNews .container::before {
  content: " ";
  position: absolute;
  top: 130px;
  left: 47%;
  height: 2px;
  width: 100px;
  background-color: #ffffff;
  z-index: 2;
}

.latestNewsHeading {
  padding-top: 150px;
  margin-bottom: 90px;
}

.swiper1 {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  overflow: clip;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}

.swiper-wrapper1 {
  display: inline-block;
}

.hero__dots {
  left: 55%;
}

.prev_arrow_button, .next_arrow_button {
  position: absolute;
  top: 66%;
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.prev_arrow_button {
  left: -60px;
}

.next_arrow_button {
  right: 60px;
}

.slick-dots.news__dots {
  position: absolute;
  bottom: 30px;
  left: 0;
  transform: rotate(0deg);
  top: 109%;
  z-index: 1;
}

.newsCard {
  float: none;
  max-width: 370px;
  min-width: 370px;
  height: 514px;
  background-color: #ffffff;
}

.news_image_wrapper {
  margin-bottom: 30px;
}

.news_card_title {
  margin-bottom: 15px;
  min-height: 50px;
}

.news_card_text_content {
  min-height: 50px;
  margin-bottom: 39px;
}

.news_card_author_wrapp {
  padding-left: 20px;
  display: flex;
  justify-content: start;
  min-height: 60px;
}

.news_card_author {
  margin-bottom: 6px;
}

.author_avatar {
  margin-right: 20px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.gallery {
  width: 100%;
  max-width: 73%;
  margin: 0 auto;
  margin-bottom: 150px;
}
.gallery .container {
  position: relative;
  margin: 0 auto;
}
.gallery .container::before {
  content: " ";
  position: absolute;
  top: -30px;
  left: 46%;
  height: 1px;
  width: 100px;
  background-color: #2C4058;
}

.galleryHeading {
  margin-top: 180px;
  margin-bottom: 90px;
}

.galleryWrapper {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  max-height: 548px;
  grid-gap: 10px;
  width: 73, 1%;
  height: 548px;
  margin-bottom: 60px;
}
.galleryWrapper .gallery_card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.galleryWrapper .gallery_card img {
  width: 100%;
  height: 100%;
}

.gallerySocket1 {
  grid-row: 1/3;
  grid-column: 1/3;
}

.gallerySocket2 {
  grid-row: 1/2;
  grid-column: 3/4;
}

.gallerySocket3 {
  grid-row: 1/2;
  grid-column: 4/5;
}

.gallerySocket4 {
  grid-row: 2/3;
  grid-column: 3/4;
}

.gallerySocket5 {
  grid-row: 2/3;
  grid-column: 4/5;
}

.seeMoreButton {
  display: block;
  margin: 0 auto;
  margin-top: 6%;
}

.zoom_icon {
  z-index: 1;
}

.map {
  margin: 0 auto;
}

.map_wrapper {
  width: 100%;
  max-width: 100%;
  height: 700px;
  aspect-ratio: 16/9;
}

.footer {
  position: relative;
  width: 100%;
  max-width: 100%;
  background-image: url(../assets/images/footer_bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 549px;
}
.footer .container {
  position: relative;
  top: 280px;
  max-width: 48%;
  display: flex;
  justify-content: space-between;
}

.logo_wrappper {
  margin-bottom: 41px;
}

.footer_socials {
  display: flex;
  gap: 20px;
}

.form {
  position: absolute;
  z-index: 666666;
  top: -40%;
  left: 26%;
  width: 100%;
  max-width: 48%;
  height: 450px;
  background-color: #ffffff;
}

.get_in_touch_form_wrapp {
  margin: 90px 60px 68px 60px;
  position: relative;
}
.get_in_touch_form_wrapp::before {
  content: " ";
  position: absolute;
  top: -30px;
  left: 47%;
  height: 2px;
  width: 100px;
  background-color: #2C4058;
}

.formHeading {
  margin-bottom: 42px;
}

.get_in_touch_form {
  display: flex;
  justify-content: space-evenly;
}

.form_contacts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form_contacts a span {
  padding-right: 4px;
}
.form_contacts a svg {
  width: 15px;
  height: 15px;
}

.toAuth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.toAuth input {
  position: relative;
  border-bottom: #2C4058 1px solid;
  opacity: 0.2;
  width: 310px;
  height: 41px;
}
.toAuth input:hover {
  border-bottom: 1px solid #2C4058;
  opacity: 1;
}
.toAuth input:first-child {
  margin-bottom: 26px;
}
.toAuth input:last-child {
  margin-bottom: 30px;
}
.toAuth button {
  margin-top: 41px;
  align-self: flex-end;
  text-transform: uppercase;
}

* {
  transition: all 0.3s ease;
  scroll-behavior: smooth;
}

.head_social_item:focus, .head_social_item:hover, .logo_wrappper:focus, .logo_wrappper:hover, .btn:focus, .btn:hover {
  --mainLight: #ff8307;
  border-color: #ff8307;
  transform: scale(1.1);
}

.head_nav_item:focus, .head_nav_item:hover {
  color: #ff8307;
  transform: scale(1.2);
  transform: rotate(-5deg);
  list-style: url(../assets/icons/arrowDown.svg);
}

.prev_arrow_button:focus, .prev_arrow_button:hover, .next_arrow_button:focus, .next_arrow_button:hover {
  --mainLight: #ff8307;
  background-color: #28cff5b7;
  transform: scale(1.1);
}

.btn:focus, .btn:hover {
  transform: scale(1.2);
  transition: all 0.4s ease;
  border-radius: 10px;
  border-width: 1px;
  background-color: #55B7FF;
  border-color: #48aef6;
}

.heroToScrollDown:hover {
  transform: scale(1.1);
  transition: all 0.4s linear;
  background-color: #ff8307;
  border-width: 0.1px;
}

.zoom_icon {
  opacity: 0;
}

.gallery_card:hover .zoom_icon {
  opacity: 10;
}