@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

.page_wrapper {
  margin: 0 auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button,
input {
  outline: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.container {
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

.header_nav {
  color: #262A3F;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
}

.hero_title {
  color: #262A3F;
  font-family: "Playfair Display", serif;
  font-size: 44px;
  font-style: normal;
  line-height: 52px;
}

.secondary_spring {
  color: #85BBB1;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-style: italic;
  line-height: 52px;
}

.fz44 {
  font-size: 44px;
}

.hero_subtitle {
  opacity: 0.8;
  opacity: 0.8;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  max-width: 439px;
}

.btn {
  position: relative;
  color: #F1897B;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
.btn::after {
  position: absolute;
  top: 4px;
}
.btnhover {
  color: #E54F3A;
}

.count-item_title {
  color: #262A3F;
  font-family: "Playfair Display", serif;
  font-size: 68px;
  font-style: normal;
  line-height: 72px;
}

.count-item_subtitle {
  opacity: 0.8;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
}

.content_article {
  opacity: 0.8;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
}

.dollar {
  color: #E4E4E4;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-style: normal;
  line-height: 50px;
}

.benefit_title {
  color: #262A3F;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-style: normal;
  line-height: 48px;
}

.benefit_sub {
  opacity: 0.8;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
}

.quote_content {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-style: normal;
  line-height: 46px;
  letter-spacing: 1.28px;
}

.quote_subtitle {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-style: italic;
  line-height: 20px;
  letter-spacing: 1.6px;
}

.video_title {
  color: #262A3F;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-style: nomal;
  line-height: 48px;
}

.video_subtitle {
  opacity: 0.8;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
}

.item_heading {
  color: #262A3F;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-style: normal;
  line-height: 28px;
}

.item_content {
  opacity: 0.8;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  margin-bottom: 18px;
}

.reviews_heading {
  color: #262A3F;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-style: normal;
  line-height: 48px;
}
.reviews_heading .secondary_spring {
  font-size: 40px;
}

.reviews_subheding {
  max-width: 400px;
  opacity: 0.8;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
}

.review_text {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 26px;
}

.initials {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-style: italic;
  line-height: 20px;
  letter-spacing: 1.6px;
}

.contacts_heading {
  color: #262A3F;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-style: normal;
  line-height: 39px;
  margin-bottom: 29px;
}

.contacts_subheading {
  opacity: 0.8;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  max-width: 470px;
}

.form {
  color: #262A3F;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-style: italic;
  line-height: 20px;
  letter-spacing: 1.44px;
}
.form :not(:last-child) {
  opacity: 0.5;
  text-transform: capitalize;
}

.footer {
  color: #262A3F;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  font-weight: 400;
  text-transform: capitalize;
}

.rights {
  color: #262A3F;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 26px;
  font-weight: 300;
  opacity: 0.6;
}

.made_by {
  color: #262A3F;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 26px;
  font-weight: 300;
  text-transform: none;
}

.made_p {
  opacity: 0.6;
}

.made_by_link {
  letter-spacing: 1.12px;
}

.hero_screen {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 993px;
  background-image: url(../assets/images/First-Screen-Bg-Image.png);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: start;
  padding-top: 25px;
}

.hero_screen .container {
  z-index: -2;
  width: 100%;
  max-width: 100%;
}

.header {
  background: linear-gradient(269deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.24) 51.07%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.02);
  max-width: 8000px;
  background-color: transparent;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4.5px);
}

.logo_wrapper {
  width: 108px;
  height: 32px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_list {
  display: flex;
  gap: 30px;
  background-attachment: local;
}

.hero_content {
  max-width: 523px;
  position: absolute;
  top: 260px;
  left: 20%;
}

.hero .container {
  margin: 0 auto;
}

.hero_title {
  margin-bottom: 20px;
}

.hero_subtitle {
  margin-bottom: 50px;
}

.hero_btn {
  display: inline-block;
  position: relative;
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
}

.stats {
  margin-bottom: 120px;
}

.stats .container {
  position: relative;
  display: flex;
  top: -245px;
  z-index: 1;
}

.stats_content {
  position: absolute;
  right: 0;
  top: 45px;
  width: 100%;
  max-width: 770px;
  display: flex;
  z-index: 2;
  justify-content: center;
}

.overlaying_part {
  display: flex;
  right: 75px;
  max-width: 770px;
  position: absolute;
  transform: translateX(100px);
  opacity: 0.9;
  background: #FFF;
}

.content_count {
  width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 80px;
  padding: 45px 0;
}

.count_item {
  display: flex;
  min-width: 370px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.divided {
  position: relative;
}
.divided::before {
  content: "";
  position: absolute;
  opacity: 0.8;
  top: -25px;
  width: 100px;
  height: 1px;
  background-color: #85bbb1;
}

.count-item_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1;
  margin-bottom: 12px;
}

.count-item_subtitle {
  text-align: center;
}

.stats_img {
  display: inline-block;
  min-width: 570px;
}

.dollar {
  width: 21px;
  align-self: last baseline;
  margin-right: 10px;
}

.content_article {
  padding: 45px 0;
  width: 100%;
  width: 400px;
}

.content_article_text {
  width: 100%;
  margin-bottom: 50px;
}

.stats_btn {
  z-index: 3;
}

.benefits .container {
  margin-bottom: 120px;
}

.benefits-list {
  display: flex;
  max-width: 95%;
  flex-wrap: wrap;
  gap: 90px;
}

.benefit_card {
  position: relative;
  max-width: 500px;
  margin-left: 10px;
}
.benefit_card::after {
  content: "";
  height: 1px;
  background-color: #E4E4E4;
  width: 90%;
  position: absolute;
  top: -30px;
}

.benefit_title {
  margin-bottom: 40px;
}

.quote .container {
  background-image: url(../assets/images/quote-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 120px;
}

.quote_content {
  position: relative;
  margin: 0 auto;
  text-align: start;
  padding: 0px 0 100px 0;
  max-width: 710px;
}
.quote_content .quote-icon {
  position: absolute;
  margin-bottom: 120px;
  top: 60px;
  left: -60px;
  z-index: 2;
}

.quote_title {
  margin-bottom: 40px;
}

.video {
  margin-bottom: 120px;
}

.player_wrapp {
  margin-bottom: 50px;
}

.video_area {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 970px;
  padding: 31px 70px 31px 30px;
  border: 1px solid var(--primary-grey, #E4E4E4);
  border-radius: 32px;
  margin-bottom: 50px;
}

.tablet_btn {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 14px;
  top: 283px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tablet_btn use {
  width: 35px;
  height: 35px;
}

.controls {
  position: absolute;
  top: 40%;
  left: 43%;
  width: 120px;
  height: 120px;
  z-index: 2;
}

.video_content {
  position: relative;
  max-width: 870px;
}

.video_text {
  margin: 0 auto;
  max-width: 870px;
}
.video_text .video_title {
  margin-bottom: 20px;
}

.controls button {
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  background: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../assets/images/icon_play.svg);
}

.controls button[data-state=play] {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

.promises {
  margin-bottom: 120px;
}

.promises .container {
  position: relative;
  display: flex;
}

.promises_back {
  width: 100%;
  max-width: 600px;
  max-height: 540px;
}

.promises_front {
  position: absolute;
  right: 0;
  top: 45px;
  width: 100%;
  max-width: 770px;
  padding: 75px 0px 75px 70px;
  opacity: 0.9;
  background: #FFF;
}

.frontcard_list {
  display: flex;
  gap: 70px;
  width: 100%;
  max-width: 770px;
  flex-wrap: wrap;
}

.frontcard_item {
  display: inline-block;
  width: 300px;
}

.item_heading {
  margin-bottom: 15px;
}

.button_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #E4E4E4;
}

.promisses_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.reviews {
  margin-bottom: 160px;
}

.reviews_heading {
  margin-bottom: 20px;
  display: inline-block;
}

.reviews_subheding {
  margin-bottom: 50px;
}

.reviews_list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.review_card {
  background: rgba(25, 28, 41, 0.6);
  position: relative;
  max-width: 370px;
  min-height: 340px;
  padding: 30px 40px 76px 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.review_card_bg {
  position: absolute;
  background: rgba(25, 28, 41, 0.099);
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  z-index: -1;
}

.review_text {
  align-self: stretch;
  opacity: 0.8;
  z-index: 1;
}

.initials {
  position: absolute;
  left: 40px;
  bottom: 30px;
  z-index: 1;
}

.contacts {
  margin-bottom: 100px;
}

.contacts .container {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.after_par::after {
  content: "";
  position: absolute;
  top: -60px;
  width: 100%;
  opacity: 0.1;
  height: 1px;
  background: #262A3F;
}

.form {
  display: flex;
  flex-direction: column;
  width: 470px;
  height: 240px;
  gap: 40px;
}
.form div {
  position: relative;
}
.form div::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.1;
  height: 1px;
  background: #262A3F;
}
.form .btn_wrapper::after {
  content: none;
}

.inp {
  width: 470px;
  height: 32px;
}
.inp input {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.inp textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
}
.inp label {
  position: absolute;
  width: 100%;
  height: 100%;
}

.btn_wrapper {
  display: flex;
  justify-content: start;
  align-items: start;
}

.footer {
  padding: 30px 0px;
  justify-content: space-between;
  align-items: center;
}

.footer .container {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.footer .container::after {
  content: "";
  position: absolute;
  top: -30px;
  width: 100%;
  opacity: 0.1;
  height: 1px;
  background: #262A3F;
}

.made_by {
  display: flex;
  gap: 12px;
}

.made_by_link {
  font-weight: 400;
}

.policy {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

@media (max-width: 1440px) {
  .hero_content {
    max-width: 523px;
    position: absolute;
    top: 260px;
    left: 135px;
  }

  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/* md(<=991px) */
@media (max-width: 991px) {
  .page_wrapper {
    overflow: hidden;
  }

  .content_article_text {
    width: 90%;
    margin-bottom: 50px;
    padding-right: 20px;
  }

  .stats_content {
    position: absolute;
    right: 0;
    top: 45px;
    width: 90%;
    max-width: 100%;
    padding-right: 20px;
    display: flex;
    z-index: 2;
    justify-content: center;
  }

  .benefits-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .benefit_card {
    display: inline-block;
    width: 90%;
    position: relative;
  }
  .benefit_card::after {
    position: absolute;
    height: 1px;
    background-color: #E4E4E4;
    width: 90%;
    top: -30px;
    left: 50px;
    right: 50px;
  }
}
/* sm (<=768px) */
@media (max-width: 767px) {
  /*  от 576px до 767px */
}
/* xs (<=575px) */
@media (max-width: 575px) {
  /*  до 575px включительно */
}
.header .container {
  max-width: 1170px;
  width: 100%;
}

.nav_item {
  position: relative;
}
.nav_item:hover .nav_link::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  top: 22px;
  left: 0;
  right: 0;
  opacity: 0.3;
  background: var(--secondary-coral, #F1897B);
}

.logo_wrapper:hover {
  width: 120px;
  border-radius: 4px;
  --logo_color: #F1897B;
  box-shadow: 8px 2px 22px 10px #f1897b;
  backdrop-filter: blur(5px);
}

.btn {
  position: relative;
}
.btn:after {
  position: absolute;
  top: 12px;
  left: 8px;
  content: "";
  width: 100%;
  height: 13px;
  background-color: #F1897B;
  opacity: 0.3;
}
.btn:after:hover {
  background-color: var(--text-red-dark, #E54F3A);
}
.btn .btn_text {
  z-index: 1;
  position: relative;
}
.btn:hover {
  color: #E54F3A;
}
.btn:hover ::after {
  color: #E54F3A;
  z-index: 1;
}