.container {
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

.header_nav {
  color: #262A3F;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
}

.hero_title {
  color: #262A3F;
  font-family: "Playfair Display", serif;
  font-size: 44px;
  font-style: normal;
  line-height: 52px;
  font-size: calc(24px + 20 * ((100vw - 320px) / 960));
}

.secondary_spring {
  color: #85BBB1;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-style: italic;
  line-height: 52px;
  font-size: calc(16px + 24 * ((100vw - 320px) / 960));
}

.hero_subtitle {
  opacity: 0.8;
  opacity: 0.8;
  font-size: calc(14px + 4 * ((100vw - 320px) / 960));
  line-height: 26px;
  font-weight: 300;
  max-width: 439px;
}

.btn {
  position: relative;
  color: #F1897B;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
.btn::after {
  position: absolute;
  top: 4px;
}
.btnhover {
  color: #E54F3A;
}

.count-item_title {
  color: #262A3F;
  font-family: "Playfair Display", serif;
  font-size: 68px;
  font-style: normal;
  line-height: 72px;
  font-size: calc(18px + 50 * ((100vw - 320px) / 960));
}

.count-item_subtitle {
  opacity: 0.8;
  font-size: calc(14px + 4 * ((100vw - 320px) / 960));
  line-height: 26px;
  font-weight: 300;
}

.content_article {
  opacity: 0.8;
  font-size: calc(14px + 4 * ((100vw - 320px) / 960));
  line-height: 26px;
  font-weight: 300;
}

.dollar {
  color: #E4E4E4;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-style: normal;
  line-height: 50px;
  font-size: calc(14px + 36 * ((100vw - 320px) / 960));
}

.benefit_title {
  color: #262A3F;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-style: normal;
  line-height: 48px;
  font-size: calc(16px + 24 * ((100vw - 320px) / 960));
}

.benefit_sub {
  opacity: 0.8;
  font-size: calc(14px + 4 * ((100vw - 320px) / 960));
  line-height: 26px;
  font-weight: 300;
}

.quote_content {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-style: normal;
  line-height: 46px;
  font-size: calc(16px + 16 * ((100vw - 320px) / 960));
  letter-spacing: 1.28px;
}

.quote_title {
  line-height: 26px;
  letter-spacing: 0.9;
}

.quote_subtitle {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-style: italic;
  line-height: 20px;
  letter-spacing: 1.6px;
}

.video_title {
  color: #262A3F;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-style: nomal;
  line-height: 48px;
  font-size: calc(16px + 24 * ((100vw - 320px) / 960));
}

.video_subtitle {
  opacity: 0.8;
  font-size: calc(14px + 4 * ((100vw - 320px) / 960));
  line-height: 26px;
  font-weight: 300;
}

.item_heading {
  color: #262A3F;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-style: normal;
  line-height: 28px;
}

.item_content {
  opacity: 0.8;
  font-size: calc(14px + 4 * ((100vw - 320px) / 960));
  line-height: 26px;
  font-weight: 300;
  margin-bottom: 18px;
}

.frontcard_list {
  font-size: calc(14px + 4 * ((100vw - 320px) / 960));
}

.reviews_heading {
  color: #262A3F;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-style: normal;
  line-height: 48px;
}
.reviews_heading .secondary_spring {
  font-size: 40px;
}

.reviews_subheding {
  max-width: 400px;
  opacity: 0.8;
  font-size: calc(14px + 4 * ((100vw - 320px) / 960));
  line-height: 26px;
  font-weight: 300;
}

.review_text {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 26px;
}

.initials {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-style: italic;
  line-height: 20px;
  letter-spacing: 1.6px;
}

.contacts_heading {
  color: #262A3F;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-style: normal;
  line-height: 39px;
  font-size: calc(18px + 22 * ((100vw - 320px) / 960));
  margin-bottom: 29px;
}

.contacts_subheading {
  opacity: 0.8;
  font-size: calc(14px + 4 * ((100vw - 320px) / 960));
  line-height: 26px;
  font-weight: 300;
  max-width: 470px;
}

.form {
  color: #262A3F;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-style: italic;
  line-height: 20px;
  font-size: calc(14px + 4 * ((100vw - 320px) / 960));
  letter-spacing: 1.44px;
}
.form :not(:last-child) {
  opacity: 0.5;
  text-transform: capitalize;
}

.rights {
  color: #262A3F;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 26px;
  font-size: calc(12px + 2 * ((100vw - 320px) / 960));
  font-weight: 300;
  opacity: 0.6;
}

.made_by {
  color: #262A3F;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 26px;
  font-size: calc(12px + 2 * ((100vw - 320px) / 960));
  font-weight: 300;
  text-transform: none;
}

.made_p {
  opacity: 0.6;
}

.made_by_link {
  letter-spacing: 1.12px;
}

.footer {
  color: #262A3F;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  font-weight: 400;
  text-transform: capitalize;
  font-size: calc(10px + 4 * ((100vw - 320px) / 960));
}

.agreement {
  font-size: calc(12px + 2 * ((100vw - 320px) / 960));
}

.privacy_policy {
  font-size: calc(12px + 2 * ((100vw - 320px) / 960));
}