$primare_dark_blue:#262A3F;
$secondary_spring: #85BBB1;
$coral:#F1897B;
$primaryWhite:#fff;
$quote-gradient:#F1897B, #F1897B00;
$borderColor:#E4E4E4;
$btn_active:#E54F3A;
$primare_font:'Lato', sans-serif;
$secondary_font:'Playfair Display', serif;
