 *{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;

/* font-family: 'Poppins', sans-serif; */
 }
 button{
  border-radius: 4%;
 }
.section{
  width: 100%;
}
 .page_container{
  text-align: center;
  width: 1440px;
  margin: 0 auto;
 }
 /* #region Header Styles */
 .header{
  width: 100%;
  height: 80px;
  margin: 0 auto; 
  text-transform:capitalize;
  margin-bottom: 70px;
 }
 
 .header_container{
  text-align: center;
  width: 100%;
  margin: 0 auto;
 }
 .mt28{
  margin-top: 28px;
 }

 .home_link{
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 30px;
 }
 .logo{
  display: inline-block;
  width: 30px;
  height: 30px;
 }
 .logo_2{
  display: inline-block;
  width: 154px;
  height: 29px;
 }
.nav{
  display: inline-block;
  margin: 0 198px;
}
 .navigate_menu{
  margin: 0 auto;
  display: inline-block;
  text-align: center;
 
 }
 .nav_item{
  display: inline-block;
 
 }
.nav_item:hover{
  color: #FF9900;
}
 .nav_container{
  margin-right: 20px;
  display: inline-block;
 }
 .nav_container:last-child{
  margin-right: 0;
 }
 
 .sign_container{

  display: inline-block;
  text-align: end;
 }
 .sign_button{
  text-transform:capitalize;
  width: 110px;
  height: 46px;
  border-radius: 5%;
 }
 .in{
  margin-right: 32px;
  border: #BCD0E5 1px solid;
 }
.up{
  color: #ffff;
  background-color: #FF9900;
  
}
/* #endregion */
/* #region First screen */
.first_screen{
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
}
.first_screen_container{
 display: inline-block;
 
  margin: 0 auto;

}
.left_part_first_screen{
 display: inline-block;
 
 vertical-align: top;
 
}
.title{
  font-size: 44px ;
  font-weight: bold;
}
.heading{
  padding-top: 97px;
  display: inline-block;
  text-align: start;
  margin-bottom: 30px;
}
.first_title{
text-align: left;
}
.subheading{
display: block;
width: 500px;
font-size: 18px;
 text-align: start;
margin-bottom: 20px;
}
.right_part_first_screen{
 display: inline-block;
 
}
.bold_button_font{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;

}
.get_started_button{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  justify-content: start;
  display: block;
 
  background-color: #FF9900;
  color: #ffff;
  width: 180px;
  height: 50px;
}
.img_right{
  width: 644px;
  height: 495px;
}

 /* #endregion */
.design_tools_screen{
  background-image: url(../assets/images/bg.svg);
  background-size:cover;
  background-position: center;

 
  height: 510px;
  flex-shrink: 0;
 
  margin:0 auto ;
 
}
.title{

 font-size: 36px;
 margin-bottom: 50px;
}
.mb50{
  margin-bottom: 50px;
}
.first_sub{
  margin-bottom: 20px;
}
 /* #region Tools Styles */
.tools_list {
  margin: 0 auto;
  display: inline;

 
}
.tools-item {
  height: 270px;
  width:21%;
  display: inline-block;
  vertical-align: top;
}
.tools_list:last-child{
  margin-right: 0px;
}
.tools_icon {

  margin-bottom: 30px;
  width: 51px;
  height: 50px;
  display: block;
}
.tools_name {
  text-align: left;
  font-weight:500; 
  font-size: 22px;
  margin-bottom: 16px;
}
.tools_description {
  font-size: 16px;
  font-weight: normal;
  text-align: left;
}
/* #endregion */
.now_button{
width: 180px;
height: 50px;
margin-bottom: 78px;
display: block;
margin: 0 auto;
}

.thirdpart_left{
  text-align: left;
 
  line-height: 26px;
}

.design_proff_title{
 
color: #2F281E;
  line-height: 26px;
font-family: Montserrat;
font-size: 36px;
 
font-weight: 700;
 margin-bottom: 20px;
}

.lil_subheading{
  text-align: left;
  color: #544837;
 
  font-weight: 500;
 
  margin-bottom: 32px; 
}
.lil_heading{

  text-align: left;
font-size: 16px;
font-weight: 700px;
margin-bottom: 16px;
color: #2F281E;
}
.lil_p{
  text-align: left;
font-weight: 500;
color: #544837;
margin-bottom: 30px;
}
.img_right_third{
width: 562px;
height: 573px;
flex-shrink: 0;
}
/* #region Manager Styles */
 .Managers_text_right{
  text-align: left;
  display: inline-block;
 
  margin-left: 125px;
 
  height: 574px;
 }
 .manager_custom_marked_list{
margin-left: 40px;
  list-style: url(../assets/images/icon.png);
 }
 .manager_li_item{
  margin-bottom: 30px;
  padding-left: 20px;
 }
 .manager_title{
  text-align: left;
  margin-bottom: 20px;
 }
.managers_img_left{
  display: inline-block;
 
  width: 570px;
  height: 519px;
  flex-shrink: 0;
}
.manager_subheading{
  text-align: left;
  color: #544837;
 
  font-weight: 500;
  
}
/* #endregion */
 /* #region Footer Styles */
.marketers{
 
}
 .footer{
  text-align: left;
  padding-top: 70px;
 display: flex;
 margin: 0 auto;
 margin-top: 70px;
 padding-bottom: 70px;
}
.footer_bold{
  color: #2F281E;
 
  font-size: 20px;
 
  font-weight: 700;
  line-height: 30px; 
  display: inline-block;

}
.footer_container{
display: inline-block;
vertical-align: top;
text-align: left
height: 209px;
}
  
.logo_container{
 display: inline-block;
 width: 20%;
 
 
 }
.home_link {

}
.logo {
 
}
.logo_2 {
 
}
.quick_links_container {
 
  width: 25%;
  display: inline-block;
}
 
.quick_links_list {
  vertical-align: top;
 
  margin-bottom: 15px;
  text-align: left
}
.quick_links_item {
  margin-bottom: 15px;
}
.legal_stuff_container {
  width: 25%;
  display: inline-block;

 
}

.legal_stuff_list {
  vertical-align: top;
 
   text-align: left
}
.legal_stuff_item {
 
  margin-bottom: 15px;
}
.footer_title {
  padding-bottom: 30px;
  }
.energy_deal_form_container {
  width: 25%;
  display: inline-block;
 text-align: start;
}
 
.phone_input {
  margin-bottom: 25px;
  width: 340px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #BCD0E5;
  padding: 0px 10px;
  align-items: center;
  gap: 10px;
}
.sign_button {
}
.up {
}
/* #endregion */