@import
'./vars';


// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Source Sans 3', sans-serif;
*{
  font-family: 'Montserrat', sans-serif;
  // font-size: 18px;
  color:$mainDark;
}
.page_wrapper {
  font-size: 18px;
}
.more_details_btn {
}
.btn {
}
//  #region Hero typo
.head_nav {
  @include headerNav;
}
.head_nav_item {
  @include headerNav;
}
 
.hero_motto {
  @include h1;
}
.hero_sub {
  @include heroSub;
}
// #endregion

// #region What we do typo
.whatWeDO {
}
.container {
}
.weDoHeading {
  @include lilHeading;
}
.WeDoProjectCard {
}
.weDoImageWrapp {
}
.weDoTextWrapp {
}
.weDoSubTitle {
  @include sub;
}
.weDoTextTitle {
  @include lilHeading;
}
.weDoTextContent {
}
.weDoCartMarker {
}
.markerText {
}
// #endregion

// #region Latest News typo
.latestNews {
 
}
.container {
}
.latestNewsHeading {
  @include lilHeading;
  color: $mainLight;
}
.News_slider_wrapp {
}
.NewsCard {
}
.news_image_wrapper {
}
.news_card_title {
  @include sub;
  font-weight: 700;
  
}
.news_card_text_content {
  @include textContent;
}
.news_card_author_wrapp {
}
.news_card_author {
  @include authorName;
}
.news_card_date {
  @include meta;
}
// #endregion
// #region Gallery
.galleryHeading{
  @include lilHeading;
}
// #endregion
// #region Footer
.policy{
@include policy;
}
// #endregion

// #region Form
.form {
}
.get_in_touch_form_wrapp {
}
.formHeading {
  @include lilHeading;
}
.get_in_touch_form {
  @include form;
}
.map_marker_wrapp {
}
// #endregion